{% extends "flights/layout.html" %}

{% block body %}

    <h1>Flight {{ flight.id }}</h1>
    <ul>
        <li>Origin: {{ flight.origin }}</li>
        <li>Destination: {{ flight.destination }}</li>
        <li>Duration: {{ flight.duration }}</li>
    </ul>

    <h2>Passengers</h2>
    <ul>
        {% for passenger in passengers %}
        <li>{{passenger.first_name}} {{passenger.last_name}}</li>
        {% empty %}
        <li>No passengers</li>
        {% endfor %}
    </ul>

    <a href="{% url 'flights:book' flight.id %}">Book this flight</a>

    <br><br>

    <a href="{% url "flights:index" %}">Back to Flight List</a>
{% endblock %}